<!DOCTYPE html>
<html lang ="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="~/css/logoutpage.css"/>
</head>
<div class="main-logout">
	<div class="right-logout">
		<div class="card-logout">
			<h4>Sistema de Gestão de Projetos</h4>
			<h5>Para encerrar a sessão em segurança é necessário fechar o browser.</h5>
		</div>
	</div>
</div>