@model SitemaProjeto.Models.Projeto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Projeto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumAlunos" class="control-label"></label>
                <input asp-for="NumAlunos" class="form-control" />
                <span asp-validation-for="NumAlunos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaInvestigacao" class="control-label"></label>
                <input asp-for="AreaInvestigacao" class="form-control" />
                <span asp-validation-for="AreaInvestigacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CentroInvestigacao" class="control-label"></label>
                <input asp-for="CentroInvestigacao" class="form-control" />
                <span asp-validation-for="CentroInvestigacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apresentacao" class="control-label"></label>
                <input asp-for="Apresentacao" class="form-control" />
                <span asp-validation-for="Apresentacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Objetivos" class="control-label"></label>
                <input asp-for="Objetivos" class="form-control" />
                <span asp-validation-for="Objetivos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdOrientador" class="control-label"></label>
                <select asp-for="IdOrientador" class ="form-control" asp-items="ViewBag.IdOrientador"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdEdicao" class="control-label"></label>
                <select asp-for="IdEdicao" class ="form-control" asp-items="ViewBag.IdEdicao"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
