@model SitemaProjeto.Models.Aluno

@{
    ViewData["Title"] = "Delete";
}
<div>
    <label>Tem a certeza que deseja eliminar o Aluno @Html.DisplayFor(model => model.Nome) ?</label>
    <p></p>
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdAluno" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <p></p>
        <div>
             <a asp-action="Index"> Voltar</a>
        </div>
    </form>
</div>
